.container{
    width: 100%;
    background-color: white;
    /* margin-top:-10px;  */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 73, 73);
}
body{
    margin: 0px;
}
.header{
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    height: 580px;
}
div.wrap{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: lavenderblush;
    opacity: .9;
    border-bottom: 1px solid  rgb(250, 212, 225);
    z-index: 3;
    height: 86px;
}
.logo{
    margin-top:5px; 
    margin-left: 20px;
    position: relative;
}
.menu{
    list-style:none;
    display: flex;
    position: absolute;
    right: 5px;
    margin-top: 20px;
}
.menu li{
    padding: 15px;
}
.menu li a{
    text-decoration: none;
    font-size: 18px;
    color:rgb(245, 119, 161);
}
.menu li a:hover{
    color:rgb(238, 95, 143);
    border-bottom: 2px solid darkgoldenrod;
    border-top:  2px solid darkgoldenrod;
    font-weight: 600;
}
.headerSearch{
    width: 100%;
    position: absolute;
    text-align: center;
    align-self: center;
    z-index: 2;
}
.headerSearch h1{
    width: 600px;
    font-size: 42px;
    color:white;
    background-color: blue;
    margin: auto;
    opacity: .6;
    border-radius:8px; 
    z-index: 0;
    text-align: center;
}
select#soflow{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: 97% center;
    background-repeat: no-repeat;
    border-right: 1px solid gainsboro;
    color: slategrey;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    height: 52px;
    margin:-3px;
    padding-left: 20px;
    border-radius: 3px;
 }
 select#soflow1{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: 97% center;
    background-repeat: no-repeat;
    border-right: 1px solid gainsboro;
    color: slategrey;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 550px;
    height: 52px;
    margin:-3px;
    padding-left: 20px;
    border-radius: 3px;
 }
input[type=submit] {
    width: 140px;  height: 50px;
    background-color: rgb(8, 141, 250);
    border-radius: 3px;
    border-style: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
input[type=submit]:hover,.hover{
    background-color:  rgb(122, 194, 253);
}
.detail{
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: space-evenly;
    z-index: 1;
    flex-wrap: wrap;
}
.detailItem{
    width: 25%;
    text-align: center;
    font-size: 16px;
    color:white;
    font-weight: 700;
}
.detailItem p{
    background-color: blue;
    opacity: .6;
    border-radius:8px;
    margin-bottom: 5px;
}
.icon{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    flex-wrap: wrap;
}
.info{
    height: 300px;
}
.Intro{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}
.IntroItem{
    width: 25%;
}
.tool{
    background-color: rgb(255, 249, 240);
    padding: 10px;
}
.toolInfo{
    width: 55%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
.toolDetail{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 350px;
    flex-wrap: wrap;
}
.toolDetailItem{
    width: 17%;
    border: 1px solid rgb(204, 201, 201);
    border-radius: 4px;
    height: 320px;
    padding-top: 10px;
    padding: 5px;
}
.toolDetailItem a{
    text-decoration: none;
    color: black;
}
.toolDetailItem:hover{
    background-color: rgb(211, 224, 238);
}
.supplier{
    display: flex;
    height: 300px;
    width: 100%;
    margin: auto;
}
.tobeSupplier{
    width: 50%;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 40px;
}
.supplierLogin{
    width: 50%;
    background-color: rgb(162, 209, 209);
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 40px;
}
.supplierLogin input{
   width: 470px;
   height: 40px;
   text-indent: 20px;
   border-radius: 4px;
   border: none;
   font-size: 14px;
}
.supplierLogin input[type="submit"]{
    width: 150px;
    height: 50px;
    text-indent: 0px;
    background-color: rgb(8, 141, 250);
    color: white;
    font-size: 16px;
    margin-left: 320px;
}
.supplierLogin input[type="submit"]:hover,.tobeSupplier a:hover{
    background-color:  rgb(122, 194, 253);
}
.tobeSupplier a{
   text-decoration: none;
   color: white;
   background-color: rgb(8, 141, 250);
   padding: 20px;font-size: 16px;
   border-radius: 6px;
}
.joinUs{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    background-color: rgb(250, 247, 255);
    height: 150px;
}
.joinUsItem{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
}
.footer{
    width: 100%;
    background-color: rgb(253, 253, 234);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footerBar{
    width: 70%;
    list-style:none;
    display: flex;
    margin-top: 20px;
    margin: auto;
    justify-content:space-evenly;
}
.footerBar li{
    padding: 15px;
    padding-left: 0px;
}
.footerBar li a{
    text-decoration: none;
    font-size: 18px;
    color:rgb(34, 47, 231);
}
.footerBar li a:hover{
    color:rgb(89, 177, 248);
    font-weight: 600;
}
select#soflow2,input#soflow2{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 2px solid gainsboro;
    color: slategrey;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 52px;
    margin:-3px;
    padding-left: 20px;
    border-radius: 3px;
 }
 input#soflow2::-webkit-inner-spin-button { display: none; }
.content{
    text-align: center;
    margin-top: 20px;
}
.contentItem{
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    text-align: center;
    margin: auto;
    height: 905px;
}
.contentSubItem{
    width: 260px;
    box-shadow: 2px 2px 18px #888888;
    height: 265px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.contentSubItem a{
    text-decoration: none;
    color: rgb(82, 82, 82);
}
.contentSubItem:hover{
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}
.tip{
    text-align: center;
    margin-top: 50px;
}
.tipDetail{
    width: 70%;
    margin: auto;
    background-color: white;
    font-size: 14px;
    padding: 20px;
    margin-bottom: 20px;
    color: rgb(73, 73, 73);
    text-align: unset;
}
.content1{
    text-align: center;
    margin-top: 20px;
    display: flex;
    width: 100%;
}
.searchForm{
    width: 20%;
    margin-left: 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    padding-right:  20px;
    padding-left: 20px;
    height: 500px;
    border-radius: 6px;
}
.wrapContentItem{
    width: 100%;
}
.contentItem1{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    text-align: center;
    margin: auto;
    height: 320%;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.scroll {
  height: 575px;
  overflow: auto;
  padding: 0 10px;
  width: 98.5%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  text-align: center;
}
.scroll::-webkit-scrollbar { 
    display: none; 
}
.about{
    width: 80%;
    margin: auto;
    text-align: justify;
}
.ceo{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap:wrap;
    width: 90%;
    margin: auto;
}
.round{
    width: 300px;
    height: 300px;
    margin: 20px;
    position: relative;
    border-radius: 50%;
}
.round img{
    height: 300px;
}
.round1{
    width: 150px;
    height: 150px;
    margin: 30px;
    border-radius: 50%;
}
.round img,.round1 img{
    border-radius: 50%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color:rgb(31, 211, 224);
    font-size: 20px;
    font-weight: 800;
  }
  .round img:hover {
    opacity: 0.5;
  }
  
  .round:hover .middle {
    opacity: 1;
  }
  .middle p{
      width: 250px;
  }
  .supportItem{
      width: 32%;
      border: 1px solid rgb(199, 191, 191);
      height: 260px;
      background-color: rgb(248, 248, 248);
  }
  .supportItem1{
    width: 32%;
    height: 260px;
}
  .supportItem a:hover{
      color: rgb(39, 39, 39);
  }
  .supportItem a{
      text-decoration: none;
      font-size: 26px;
      color: rgb(49, 177, 172);
  }
  .supportItem1 a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(101, 192, 189);
}
.supportItem1 ul li{
    line-height: 30px;
}
  span{
      color: rgb(39, 39, 39);
      font-size: 60px;
      padding-top: 70px;
  }
  .font{
      font-size: 30px;
  }
  .font1{
      font-size: 16px;
  }

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: rgb(201, 9, 9);
    text-align: center;
    padding: 10px 0;
    display: none;
    z-index: 10;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ .menu{
    display: block;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   /*Make dropdown links appear inline*/
   .logo{
        display: none;
    }
    div.wrap{
        height: 60px;
    }
    .wrap ul {
        position: static;
        display: none;
        text-align: center;
        background-color: lavenderblush;
    }
    /*Create vertical spacing*/
    .wrap ul li {
        margin-bottom: 1px;
    }
    .wrap ul li a{
        margin-right:20px; 
        font-size: 12px;
        
    }
    /*Make all menu links full width*/
    .wrap ul li, li a {
        width: 85%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
        
    }
    label{
        display: block;
    }
    .headerSearch h1,.detailItem {
        display: none;
    }
    form{
        margin-top: 35px;
    }
    select#soflow{
        display: block;
        width: 260px;
        margin: auto;
        margin-top: 10px;
    }
    select#soflow1{
        display: block;
        width: 380px;
        margin: auto;
        margin-top: 10px;
        font-size: 14px;
    }
    input[type="submit"]{
        margin-top: 10px;
        width: 130px;
    }
    .icon{
        display: none;
    }
    .tip{
        margin-top: -45px;
    }
    .IntroItem h2,.toolInfo h2,.toolDetailItem h3,.tip h1{
        font-size: 18px;
    }
    .IntroItem p,.toolInfo p,.toolDetailItem p,.about p{
        font-size: 12px;
    }
    .info{
        padding-top: 5px;
        height: 180px;
    }
    .toolDetail{
        flex-wrap: wrap;
        width: 100%;
    }
    .toolDetailItem{
        width: 10px;
        height: 200px;
    }
    .toolDetailItem a img{
        width: 60px;
    }
    .content h1{
        font-size: 20px;
    }
    .contentSubItem a h4{
        font-size: 14px;
    }
    .contentSubItem:nth-child(odd){
        display: none;
    }
    .supportItem1 ul li{
        margin-left: -20px;
    }
    .supportItem1 h3{
        text-align: center;
    }
    .contentItem{
        margin-bottom: 20px;
    }
    .container h1{
        font-size: 22px;
    }
    select#soflow2{
        width: 206px;
        font-size: 18px;
        margin-top: -20px;
    }
    .search{
        margin-top: -30px;
    }
    .scroll{
        margin-bottom: 80px;
    }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .header{
        height: 420px;
    }
    div.wrap{
        display:unset;
        height: 130px;
    }
    .logo{
        width: 100px;
        margin: auto;
    }
    .logo img{
        margin-top: 10px;
        width: 120px;
        text-align: center;
    }
    .arrow{
        width: 160px;
    }
    .menu{
        right: 0px;
        margin-top: -6px;
        width: 100%;
        justify-content: space-evenly;
    }
    .menu ul li {
        margin: 1px;
    }
    .menu li a{
        font-size: 10px;
    }
    .detailItem p{
        font-size: 12px;
    }
    .tool{
        margin-top: 150px;
        height: 900px;
      }
    .supplier{
        display: unset;
    }
    .tobeSupplier{
        width: 100%;
        padding-top: 10px;
        padding-left:0px;
        padding-right: 0px;
        text-align: center;
    }
    .supplierLogin{
        width: 100%;
        background-color: rgb(162, 209, 209);
        margin-top:20px; 
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .supplierLogin input[type="submit"]{
        margin-left: 0px;
        margin-bottom: 15px;
    }
    .tool{
        margin-top: 80px;
    }
    .toolDetail{
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        justify-content:center;
        height: 700px;
    }
    .toolDetailItem{
        width: 170px;
        margin: 10px;
    }
    .footerBar li{
        padding-left: 0px;
    }
    .footerBar li a{
        font-size: 12px;
    }
    .contentItem{
        width: 78%;
        height: 1450px;
    }
    .contentSubItem{
        width: 250px;
    }
    .scroll{
        width: 96%;
    }
    .jewellery{
        font-size: 30px;
    }
    .searchForm{
        width: 200px;
        margin-left: -7px;
    }
    .content1 .contentSubItem{
        width: 200px;
        margin: 8px;
        height: 230px;
    }
    .content1 .contentSubItem img{
        height: 160px;
    }
    .about{
        width: 80%;
        margin: auto;
        text-align: justify;
    }
    .ceo{
        width: 90%;
        margin: auto;
    }
    .round{
        width: 160px;
        height: 160px;
        margin: 30px;
        position: relative;
        border-radius: 50%;
    }
    .round img{
        height: 160px;
    }
    .supportItem,.supportItem1{
        height: 160px;
    }
    .supportItem a{
        font-size: 18px;
    }
    .supportItem1 ul li{
        line-height: 15px;
    }
    .supportItem1 ul li a{
        font-size: 12px;
    }
    .supportItem1 h3,.middle{
        font-size: 12px;
    }
    span{
        font-size: 40px;
        padding-top: 30px;
    }
    .contentItem >h3{
        font-size: 20px;
    }
    .about h3{
        font-size: 30px;
    }
    .font{
        font-size: 22px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .icon{
        width: 1008px;
    }
    .Intro{
        width: 1340px;
    }
    .toolDetail{
        width: 1152px;
    }
    .supplier{
        width: 1340px;
        margin: auto;
    }
    .tobeSupplier{
        width: 720px;
    }
    .supplierLogin{
        width: 720px;
    }
    .contentItem{
        width: 925px;
    }
    .wrapContentItem{
        width: 1025px;
      
    }
    .scroll{
        width:1400px ;
    }
    .jewellery{
        font-size: 50px;
    }
    .about{
        width: 1152px;
        margin: auto;
        text-align: justify;
    }
    .ceo{
        width: 1036px;
        margin: auto;
    }
    .contentItem >h3{
        font-size: 38px
    }
    .about h3{
        font-size: 50px;
    }
} 